theme = Black Metal (Venom)
background-opacity = 0.8

macos-titlebar-style = hidden

window-padding-x = 10
window-padding-y = 10
window-padding-balance = true

font-size = 14

keybind = global:super+`=new_window
keybind = global:super+ctrl+t=new_tab
keybind = global:super+ctrl+h=new_split:left
keybind = global:super+ctrl+j=new_split:down
keybind = global:super+ctrl+k=new_split:up
keybind = global:super+ctrl+l=new_split:right
keybind = global:super+[=goto_split:previous
keybind = global:super+]=goto_split:next

confirm-close-surface = false


split-divider-color = #000000
unfocused-split-fill = #050505
unfocused-split-opacity = 0.75
